// Win Inject
// Copyright (c) 2014-2023 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2014-2023 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/WinInject/Library.rh>
#include <XYO/WinInject/Copyright.rh>
#include <XYO/WinInject/Version.rh>

XYO_APPLICATION_VERSION_INFO(XYO_WININJECT,"xyo-win-inject.dll","XYO Win Inject")
